// Login CSS
* {
    margin: 0;
    padding: 0;
}

body {
    // background-image: url('/assets/image/login.svg');
    background-position: bottom bottom;
    background-repeat: no-repeat;
}

.app-container {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    margin: auto;
    padding: 2.5% 20px;
    margin-top: 7.5%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 5px 5px 20px rgba(237, 237, 237, 0.33);
    }

    &::after {
        content: '';
        position: fixed;
        width: 106%;
        top: -200%;
        left: -2%;
        right: 0;
        bottom: 0;
        // background-color: #00ADB5;
        background: linear-gradient(to left,#00ADB5, #ccf05d);
        z-index: -2;
        transform: rotate(62deg);
    }

    h1, p {
        text-align: center;
    }

    h1 {
        color: #00ADB5;
    }

    .app-container-title {
        color: #191825;
        margin-top: 10px;
    }

    hr {
        display: block;
        margin: 20px 0;
        border: 0;
        border-bottom: 1px solid #1918252d;
    }
}

// Input
.app-input {
    margin: 15px 0;
    box-sizing: border-box;

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        all: unset;
        height: 40px;
        width: 100%;
        display: block;
        border-radius: 8px;
        border: 1px solid #1918252d;
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.app-button {
    all: unset;
    display: block;
    width: 100%;
    margin: 40px auto 20px;
    border-radius: 8px;
    color: white;
    background-color: #00ADB5;
    text-align: center;
    height: 40px;
}

.app-link {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #19182580;
}